@use '../../styles/vars.scss' as var;

.widget {
    @include var.widget-box;
    width: 31%;
    height: 135px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryLabel {
    display: flex;
    align-items: center;

    img {
        height: 13px;
        margin-right: 8px;
    }

    span {
        font-weight: 600;
        font-size: 14px;
    }
}

.stats {
    display: flex;
    justify-content: space-between;
}

.primaryStat {
    font-size: 1.5rem;
    font-weight: 500;
}