$light-text: #7D8292;
$dark-text: #000000;

$base: 0.9rem;
$small: 0.8rem;

$divider: 1px solid #E2E8EA;

@mixin page-heading {
    color: $dark-text;
    font-size: 1.35rem;
    line-height: 2rem;
    font-weight: 500;
}

@mixin section-heading {
    color: $dark-text;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.8rem;
}

@mixin subheading {
    color: $light-text;
    font-size: 0.98rem;
    line-height: 1.8rem;
}

@mixin widget-box {
    background-color: white;
    border-radius: 10px;
}