$light-text: #7D8292;
$dark-text: #353946;
$background: #F7F8FA;
$divider: #E2E8EA;
$widget-bar-full: #A8A1D5;
$widget-bar-empty: #EDEAF9;

$base: 0.9rem;
$small: 0.5rem;
$page-heading: 1.9rem;
$section-heading: 1.2rem;
$subheading: 0.9rem;