@use '../../styles/vars.scss' as var;

.container {
    @include var.widget-box;
    margin-top: 40px;
    padding: 30px 30px 80px 30px;

    text {
        font-size: 13px;
    }
}

.chart {
    pointer-events: all;
}

.tooltip {
    stroke: none;
    fill-opacity: 0.6;
    border-radius: 10px;
    font-size: 10px;
}

.tooltipGroup {
    position: relative;
}

.tooltipText {
    fill: white;
}

.timeTooltip {
    fill: #e9e9e9;
}

.timeTooltipText {
    text {
        fill: #7d8292;
        font-weight: 500;
        font-size: 12px;
    }
}